/* Styles globaux */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Fond sombre moderne */
    color: #ffffff; /* Texte clair pour le contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #1e1e1e, #2b2b2b);
}

/* Styles pour la barre de navigation */
nav {
    margin-top: 0px;
    width: 100%;  /* S'assurer que la navbar occupe toute la largeur */
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0;  /* Positionne la navbar en haut */
    left: 0;
    background-color: #333; /* Couleur de fond sombre */
    z-index: 1000; /* Assure que la navbar soit au-dessus des autres éléments */
    padding: 10px 0; /* Ajoute un peu de padding pour un meilleur rendu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet 3D */
}

nav ul {
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
    list-style: none;
    margin: 0; /* Enlève la marge par défaut */
    padding: 0; /* Enlève le padding par défaut */
}

nav ul li {
    margin: 0 20px; /* Espace entre les éléments de la navbar */
    position: relative; /* Positionne les éléments pour les effets de survol */
}

nav ul li a {
    color: #00d1b2; /* Couleur du texte */
    text-decoration: none; /* Enlève la soulignure des liens */
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition pour les couleurs */
}

nav ul li a:hover {
    background-color: #00d1b2; /* Couleur d'arrière-plan au survol */
    color: #121212; /* Change la couleur du texte au survol */
    box-shadow: 0 2px 4px rgba(0, 209, 178, 0.2); /* Ajoute une ombre pour un effet 3D */
}

nav ul li a::before {
    content: ""; /* Ajoute un contenu vide pour les effets de survol */
    position: absolute; /* Positionne l'élément pour les effets de survol */
    bottom: 0; /* Positionne l'élément en bas */
    left: 0; /* Positionne l'élément à gauche */
    width: 100%; /* Définit la largeur de l'élément */
    height: 2px; /* Définit la hauteur de l'élément */
    background-color: #00d1b2; /* Définit la couleur de l'élément */
    transform: scaleX(0); /* Définit la transformation de l'élément */
    transition: transform 0.3s; /* Définit la transition de l'élément */
}

nav ul li a:hover::before {
    transform: scaleX(1); /* Définit la transformation de l'élément au survol */
}

/* Style du contenu de la page */
header {
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    color: #00d1b2; /* Accent turquoise pour mettre en valeur */
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #ccc;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #333; /* Boutons sombres */
    color: #00d1b2; /* Texte turquoise pour une touche de couleur */
    border: 2px solid #00d1b2;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet 3D */
}

.btn:hover {
    transform: translateY(-5px);
    background-color: #00d1b2;
    color: #121212;
    box-shadow: 0 5px 15px rgba(0, 209, 178, 0.3);
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 20px;
    color: #ccc;
    font-size: 14px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}

/* Media query pour responsive */
@media (max-width: 600px) {
    .buttons-container {
        flex-direction: column;
    }

    .btn {
        width: 80%;
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
    }
}