body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    font-size: 2.5rem;
}

.buttons-container {
    margin-top: 50px;
}

.btn {
    background-color: #333;
    color: #fff;
    border: 2px solid #00d1b2;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-5px);
    background-color: #00d1b2;
    color: #121212;
    box-shadow: 0 5px 15px rgba(0, 209, 178, 0.3);
}
