* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ff0088, #ff8c00, #f8e71c, #38c5f3, #8a2be2);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}

header {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
